<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>会员修改</title>
		<link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css" />
		<style type="text/css">
			h2 {
				/*border-bottom: 3px ridge darkgray;*/
			}
		</style>
	</head>

	<body>
		<h2>会员信息 </h2>
		<div id="MemberModify">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>会员组:</td>
						<td><span v-if="user.merchantType==0">普通会员</span></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>用户名:</td>
						<td>{{user.userName}}</td>
						<td>密码:</td>
						<td><input type="text" class="form-control" placeholder="密码" v-model="user.userPwd"></td>
					</tr>
					<tr>
						<td>手机:</td>
						<td><input type="text" class="form-control" placeholder="手机" v-model="user.userPhone"></td>
						<td>邮箱:</td>
						<td>{{user.contactmailbox}}</td>
					</tr>
					<tr>
						<td>真实姓名:</td>
						<td><input type="text" class="form-control" placeholder="真实姓名" v-model="user.userRealName"></td>
						<td>性别:</td>
						<td>
							<label class="radio-inline">
							  <input type="radio" name="sex" id="inlineRadio1" value="1" v-model="user.userSex"> 男
							</label>
							<label class="radio-inline">
							  <input type="radio" name="sex" id="inlineRadio2" value="2" v-model="user.userSex"> 女
							</label>
					</td>
					</tr>
					<tr>
						<td>住址:</td>
						<td colspan="3">
							<input type="text" class="form-control" placeholder="详细地址" v-model="user.adDetail">
							<!-- <select class="form-control">
							  <option>国家</option>
							  <option>中国</option>
							  <option>韩国</option>
							  <option>测试地址</option>
							</select>
							<select class="form-control">
							  <option>省</option>
							</select>
							<select class="form-control">
							  <option>市</option>
							</select> -->
						</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>注册时间:</td>
						<td>{{user.userRegistrationTime}}</td>
						<td>注册IP:</td>
						<td>{{user.registerIP}}</td>
					</tr>
					<tr>
						<td>最后登录时间:</td>
						<td>{{user.recentEntry}}</td>
						<td>最后登录IP:</td>
						<td>{{user.lastEntry}}</td>
					</tr>
					<tr>
						<td>审核资料:</td>
						<td>
							<label class="radio-inline">
							  <input type="radio" name="audit" value="2" v-model="user.auditStatus"> 已通过审核
							</label>
							<label class="radio-inline">
							  <input type="radio" name="audit" value="3" v-model="user.auditStatus"> 未通过审核
							</label>
						</td>
						<td>邮箱验证:</td>
						<td>
							<label class="radio-inline">
							 <input type="radio" name="verify" value="1" v-model="user.mailboxVerification"> 已通过验证
							</label>
							<label class="radio-inline">
							  <input type="radio" name="verify" value="0" v-model="user.mailboxVerification"> 未通过验证
							</label>
						</td>
					</tr>
					<tr>
						<td colspan="4" class="text-center">
							<input class="btn btn-default" type="button" value="保存" @click="updateUser()">
							<a href="#"><input class="btn btn-default" type="button" value="返回" onclick="history.go(-1)"></a>
						</td>
						
					</tr>
				</tbody>
			</table>	
		</div>
	</body>
	<script src="../../../js/jquery-1.12.4.js" type="text/javascript"></script>
	<script src="../../../js/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../../js/vue.js"></script>
	<script>
		$(function() {
			var userId = window.sessionStorage.getItem("userId");
			MemberModify = new Vue({
				el: "#MemberModify",
				data: {
					user: {}
				},
				methods: {
					goToPage: function() {
						$.ajax({
							url: "/yl/getVipById/"+userId,
							type: "post",
							dataType: "json",
							success: function(pageData) {
								MemberModify.user = pageData;
								//alert(JSON.stringify(pageData));
							},
							error: function() {
								alert("错误1");
							}
						});
					},
					updateUser:function(){
						$.ajax({
							url:"/yl/updateVip",
							type:"post",
							data:JSON.stringify(MemberModify.user),
							dataType:"json",
							contentType:"application/json",
							success:function(map){
								if(map.code==200){
									alert("保存成功");
								}else if(map.code==500){
									alert("保存失败");
								}
							}
						});
					},
				},
				created: function() {
					this.goToPage();
					
				}
			});
		});
	</script>

</html>