<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>会员站内信</title>
<link rel="stylesheet" type="text/css"
	href="../../../css/bootstrap.min.css" />
<style type="text/css">
h2 {
	/*border-bottom: 3px ridge darkgray;*/
	
}
</style>
</head>

<body>
	<h2>帖子修改管理</h2>
	<div id="postShow">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>标题:</td>
					<td><input type="text" class="form-control" placeholder="序号"
						v-model="pageInfo.postid"></td>
					<td>栏目:</td>
					<td><input type="text" class="form-control" placeholder="发信人"
						v-model="pageInfo.fmid"></td>
				</tr>
				<tr>
					<td>发布时间:</td>
					<td><input type="text" class="form-control" placeholder="收件人"
						v-model="pageInfo.releasetime"></td>
					<td>审核状态:</td>
					<td><input type="radio" name="postState"
						v-model='pageInfo.auditstatus' value="1">未审核 <input
						type="radio" name="postState" v-model='pageInfo.auditstatus'
						value="2">已审核</td>
				</tr>
				<tr>
					<td>删除状态:</td>
					<td><input type="radio" name="postDel"
						v-model='pageInfo.operatingstate' value="2">已删除 <input
						type="radio" name="postDel" v-model='pageInfo.operatingstate'
						value="1">未删除</td>
					<td>推荐:</td>
					<td><input type="checkbox" v-model="pageInfo.essence"
						value="1">加精 <input type="checkbox"
						v-model="pageInfo.solid" value="1">固定</td>
				</tr>
				<tr>
					<td>内容:</td>
					<td colspan="3"><textarea rows="3" cols=""
							class="form-control" readonly="readonly"  v-model="pageInfo.content">
							</textarea></td>
				</tr>
				<tr>
					<td>管理员意见:</td>
					<td colspan="3"><textarea rows="8" cols=""
							class="form-control">
							</textarea></td>
				</tr>

				<!-- 按钮 -->
				<tr style="text-align: center;">
					<td colspan="4">
						<a 
							style="background-color: green; outline: none; border: none; opacity: 0.8; width: 80px; height: 30px; color: white; border-radius: 1rem;display:inline-block;line-height: 30px" @click="subPost()">保存</a>
						<a href="javascript:history.back(-1)" 
							 style="background-color: #999; outline: none; border: none; opacity: 0.8; width: 80px; height: 30px; color: white; border-radius: 1rem;display:inline-block;line-height: 30px">返回</a>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</body>
<script src="../../../js/jquery-1.12.4.js" type="text/javascript"></script>
<script src="../../../js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../../js/vue.js"></script>
<script type="text/javascript" src="../../../js/dialog.js"></script>
<script>
	$(function() {

		$("#MemberModify input").attr("readonly", "readonly");
		$("input[type=text]").attr("disabled","disabled");

		var postId = window.sessionStorage.getItem("postId"); //帖子编号

		replyVm = new Vue({
			el : "#postShow",
			data : {
				pageInfo : {}
			},
			methods : {
				goToPage : function() {

					$.ajax("/tsyPostManagementApi/queryOneTsyPostManagement/"
							+ postId, {
						type : "GET",
						dataType : "json",
						timeout : 6000,
						xhrFields : {
							withCredentials : true
						},
						crossDomain : true, //访问session取值时必加，取值那边也要加
						success : function(pageData) { //成功readyState==4&&status==200
							replyVm.pageInfo = pageData;
						}

					});

				},
				
				subPost:function(){
					
					$.ajax("/tsyPostManagementApi/modifyOneTsyPostManagement/posts",{
						type:"PUT",
						async: false,
						contentType:"application/json",
						dataType:"json",
						data:JSON.stringify(replyVm.pageInfo),
						success:function(data){
							if(data.code=="200"){
								showAlertDialog("帖子修改成功。");
							}else{
								showAlertDialog("帖子修改失败。");
							}
							
							//window.location.reload();
						}
					});
					
				}

			},
			created : function() {
				this.goToPage(postId);
			}
		});

	});
</script>

</html>