<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../../layui/css/layui.css" />
<link rel="stylesheet" href="../../css/style.css" />
<title>广告位申请</title>
</head>
<body class="oneColLiqCtrHdr"  th:onload="|searchform.atid.value=${atid};layui.form.render('select')|">
	<div id="applyfor">
		<div id="header">
		<h1>广告位申请</h1>
		<form class="layui-form" method="get" name="searchform"
			th:action="@{/jwl/getAdvVo}">
			<table border="0" class="table" cellSpacing="1" cellPadding="6"
				width="100%">
				<tbody>
					<tr>
						<td><label class="layui-form-label"
							style="padding-left: 0; width:65px;">按分类查看:</label>
							<div class="layui-input-block"
								style="width: 170px; margin-left: 80px;">
								<select name="atid" lay-verify="required" lay-filter="test">
									<option value="0">--请选择--</option>
										<option v-for="(temp,index) in fl" :value="temp.aid"
										v-text="temp.atitle"></option>
								</select>
							</div><input type="hidden" name="p" value="1">
							<input type="hidden" name="s" value="4"></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<div style="float: right;">
		<div class="layui-btn-group">
			<button class="layui-btn layui-btn-primary layui-btn-sm all"
				onClick="selectAll()" value="1">
				<i class="layui-icon">&#x1005;</i>
			</button>
			<a href="/jwl/zzsAdd"><button class="layui-btn layui-btn-primary layui-btn-sm">
				<i class="layui-icon">&#xe654;</i>
			</button></a>
			<button class="layui-btn layui-btn-primary layui-btn-sm del">
				<i class="layui-icon">&#xe640;</i>
			</button>
		</div>
	</div>
	<br>
	<table width="100%">
		<thead>
			<tr>
				<th width="5%" bgcolor="#ffffff"></th>
				<th align="center">赞助商名称</th>
				<th align="center">赞助商电话</th>
				<th align="center">位置</th>
				<th align="center">图片</th>
				<th align="center">付款金额</th>
				<th align="center">租的月数</th>
				<th align="center">开始时间</th>
				<th align="center">结束时间</th>
				<th align="center">申请时间</th>
				<th align="center">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(tmp,index) in AdvVo.list">
				<td align="center"><input type="checkbox"
					:value="tmp.aaid"></td>
				<td align="center" v-text="tmp.sponsorNmae">测试数据</td>
				<td align="center" v-text="tmp.sponsorPhone">测试数据</td>
				<td align="center" v-text="tmp.atitle">测试数据</td>
				<td align="center"><img  :src=" 'http://127.0.0.1:1001'+tmp.aimgpath"  width="200"></td>
				<td align="center" v-text="tmp.price"></td>
				<td align="center" v-text="tmp.rentamonth">测试数据</td>
				<td align="center" v-text="tmp.starttime">测试数据</td>
				<td align="center" v-text="tmp.endtime">测试数据</td>
				<td align="center" v-text="tmp.applytime">测试数据</td>
				 <td align="center"> <a
				 href="javascript:void(0)"  @click="update(tmp.aaid)"><button
							class="layui-btn layui-btn-primary layui-btn-sm">
							<i class="layui-icon">&#xe642;</i>查看
						</button></a></td> 
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="12" style="text-align: center;"><a
					th:if="${AdvVo.hasPreviousPage}"
					th:href="@{/jwl/getAdvVo(atid=${atid},p=${AdvVo. prePage},s=4)}"><button
							class="layui-btn layui-btn-primary layui-btn-sm">
							<i class="layui-icon">&#xe65a;</i>上一页
						</button></a> &nbsp; <a th:if="${AdvVo.hasNextPage}"
					th:href="@{/jwl/getAdvVo(atid=${atid},p=${AdvVo.nextPage},s=4)}"><button
							class="layui-btn layui-btn-primary layui-btn-sm">
							下一页 <i class="layui-icon">&#xe65b;</i>
						</button></a></td>
			</tr>
		</tfoot>
	</table>
	</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="../../js/vue.js"></script>
<script>
	//Demo
	layui.use('form', function() {
		var form = layui.form;
		//监听提交
		/* form.on('submit(formDemo)', function(data) {
			layer.msg(JSON.stringify(data.field));
			return false;
		}); */
	});
	applyfor = new Vue({
		el: "#applyfor",
		data: {
			AdvVo: {},
			fl:{}
		},
		methods: {
			goToPage: function(p,s) {
				var atid= $("select[name='atid']").val();
				var aaid=0;
				if(atid==null){
					atid=0;
				}
				$.ajax({
					url: "/jwl/getApplyfor/"+atid+"/"+p+"/"+s+"/"+aaid,
					type: "get",
					dataType: "json",
					success: function(pageData) {
						applyfor.AdvVo = pageData;
						//alert(JSON.stringify(pageData));
					},
					error: function() {
						alert("申请广告");
					}
				});
			},
			goload: function() {
				$.ajax({
					url: "/jwl/getAllAdvType",
					type: "get",
					dataType: "json",
					success: function(pageData) {
						applyfor.fl = pageData;
						//alert(JSON.stringify(pageData));
					},
					error: function() {
						alert("广告类型");
					}
				});
			},
			goToIndex : function() {
				this.goToPage(this.AdvVo.firstPage,10);
			},
			goToNext : function() {
				if (this.AdvVo.hasNextPage) {
					this.goToPage(this.AdvVo.nextPage,10);
				} else {
					layer.alert('没有下一页了。。。', {icon: 2});
				}
			},
			goToPre : function() {
				if (this.AdvVo.hasPreviousPage) {
					this.goToPage(this.AdvVo.prePage,10);
				} else {
					layer.alert('没有上一页了。。。', {icon: 2});
				}
			},
			goToEnd : function() {
				this.goToPage(this.AdvVo.lastPage,10);
			},
			 update:function (aaid){
				window.sessionStorage.setItem("aaid",aaid);
				location.href="/page/guanggao/Advaudit.html";
			},  
		},
		created: function() {
			this.goToPage(1,10);
			this.goload();
		}
	});
	
	function selectAll() {
		var key = $(".all").val();
		$("input[type='checkbox']").each(function() {
			if (key == 0) {
				$("input[type='checkbox']").prop('checked', false);
				$(".all").val("1")
			} else {
				$("input[type='checkbox']").prop('checked', true);
				$(".all").val("0")
			}
		});
	}
</script>
</html>
