<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Strict//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<link rel="stylesheet" href="../../layui/css/layui.css" />
<link rel="stylesheet" href="../../css/style.css" />
<title></title>
</head>
<body class="oneColLiqCtrHdr"  th:onload="|fo.atid.value=${list.atid};layui.form.render('select')|">
	<div id="container">
		<div id="header">
			<h1>广告</h1>
		</div>
		<div id="mainContent">
			<br>
			<form class="layui-form" action="/jwl/moAdv"  method="post" name="fo" enctype ="multipart/form-data">
				<table border="0" cellspacing="1" cellpadding="6" width="100%"
					class="table">
					<tbody>
						<tr>
							<td width="249" align="right"><strong>标题:</strong></td>
							<td colspan="2"><input style="width: 255px;height: 25px;" type="text" th:value="${list.atitle}"
								name="atitle" required class="layui-input"></td>
						</tr>
						<tr>
							<td width="249" align="right"><strong>排序:</strong></td>
							<td width="100"><input style="width: 255px;height: 25px;" type="text" th:value="${list.aorder}"
								name="aorder" required class="layui-input"></td>
								<td>0 - 32767(降序)</td>
						</tr>
						<tr>
							<td width="249" align="right"><strong>原图片:</strong></td>
							<td colspan="2"><img th:src="'http://127.0.0.1:1001'+${list.aimgpath}" width="180" height="100" >
							</td>
						</tr>
						<tr>
						<tr>
							<td width="249" align="right"><strong>图片:</strong></td>
							<td><input style="width: 255px;height: 25px;" type="text" th:value="${list.aimgpath}"
								name="aimgpath" required class="layui-input" readonly="readonly">
								</td>
								<td>
									<input type="file" name="file" id="pic" accept="image/gif, image/jpeg,image/jpg,image/png" />
								</td>
						</tr>
						<tr>
							<td width="249" align="right"><strong>分类:</strong></td>
							<td colspan="2"><input type="hidden" name="aid" th:value="${list.aid}">
								<div style="width: 255px;" >
									<select name="atid" lay-filter="test">
										<option th:each="temp,iterState:${fl}" th:value="${temp.aid}"
									th:text="${temp.atitle}"></option>
									</select>
								</div></td>
						</tr>
						<tr>
							<td width="249" align="right"><strong>PC端网址:</strong></td>
							<td colspan="2"><input style="width: 255px;height: 25px;" type="text" th:value="${list.apcurl}"
								name="apcurl"  class="layui-input"></td>
						</tr>
						<tr>
							<td width="249" align="right"><strong>手机端网址:</strong></td>
							<td colspan="2"><input style="width: 255px;height: 25px;" type="text" th:value="${list.aappurl}"
								name="aappurl"  class="layui-input"></td>
						</tr>
						<tr>
							<td width="249" align="right" style="padding-bottom: 80px;"><strong>描述:</strong></td>
							<td colspan="2">
								<div style="width: 380px;">
									<textarea name="adescribe"  
										class="layui-textarea" th:value="${list.adescribe}"></textarea>
								</div>
							</td>
						</tr>
						<tr>
						<tr>
							<td align="right">&nbsp;</td>
							<td colspan="3"><input type="submit" class='ys' value="保存"
								lay-filter="formDemo" /> <input type="button" class='ys'
								value="返回" onClick="javascript:history.back()" />
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script>
	//Demo
	layui.use('form', function() {
		var form = layui.form;
		$("#pic").change(function(){
			$('[name=aimgpath]').val($("#pic").val());
		});
		//监听提交
		form.on('submit(formDemo)', function(data) {
			layer.msg(JSON.stringify(data.field));
			return false;
		});
	});
</script>
</html>