<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>会员审核</title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/MemberCss.css"/>
	</head>
	<body>
		<div id="audit">
			<div class="title">
			<h3>会员管理</h3>
			<div class="formdiv">
				<form class="form-inline">
					<div class="form-group">
						<label for="exampleInputName2">用户昵称</label>
						<input type="text" class="form-control" id="userName" placeholder="请输入会员昵称">
					</div>
					<button type="button" class="btn btn-default" @click="goToPage()">搜索</button>
					<button type="button" class="btn btn-default" @click="exports()">导出</button>
				</form>
			</div>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>序号</th>
					<th>用户昵称</th>
					<th>会员组</th>
					<th>邮箱</th>
					<th>积分</th>
					<th>金币</th>
					<th>邮箱验证</th>
					<th>审核</th>
					<th>状态</th>
					<th>电话</th>
					<th>最后登录时间</th>
					<th>浏览量</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(tmp,index) in user.list">
					<td>{{index+1}}</td>
					<td>{{tmp.username}}</td>
					<td>
					<span v-if="tmp.merchanttype==0">普通会员</span>
					</td>
					<td>{{tmp.contactmailbox}}</td>
					<td>{{tmp.userintegral}}</td>
					<td>{{tmp.usermoney}}</td>
					<td>
						<span v-if="tmp.mailboxVerification==0">未验证</span>
						<span v-else-if="tmp.mailboxVerification==1">已验证</span>
					</td>
					<td>
						<span v-if="tmp.auditStatus==0">未审核</span>
						<span v-else-if="tmp.auditStatus==1">审核中</span>
						<span v-else>已审核</span>
					</td>
					<td>
						<span v-if="tmp.stateboolean">开启</span>
						<span v-else-if="tmp.stateboolean">禁用</span>
					</td>
					<td>{{tmp.merchantphone}}</td>
					<td>{{tmp.recententry}}</td>
					<td>{{tmp.browsenumber}}</td>
					<td>
						<a href="subpage/MemberModify.html">修改</a>
						<a href="#">积分记录</a>
						<a href="#">评价</a>
					</td>
				</tr>
				<!-- <tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td>12</td>
					<td>13</td>
					<td>
						<a href="#">修改</a>
						<a href="#">积分记录</a>
						<a href="#">评价</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td>11</td>
					<td>12</td>
					<td>13</td>
					<td>
						<a href="#">修改</a>
						<a href="#">积分记录</a>
						<a href="#">评价</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td>11</td>
					<td>12</td>
					<td>13</td>
					<td>
						<a href="#">修改</a>
						<a href="#">积分记录</a>
						<a href="#">评价</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>11</td>
					<td>12</td>
					<td>13</td>
					<td>
						<a href="#">修改</a>
						<a href="#">积分记录</a>
						<a href="#">评价</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td>11</td>
					<td>12</td>
					<td>13</td>
					<td>
						<a href="#">修改</a>
						<a href="#">积分记录</a>
						<a href="#">评价</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>10</td>
					<td>11</td>
					<td>12</td>
					<td>13</td>
					<td>
						<a href="#">修改</a>
						<a href="#">积分记录</a>
						<a href="#">评价</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td>11</td>
					<td>12</td>
					<td>13</td>
					<td>
						<a href="#">修改</a>
						<a href="#">积分记录</a>
						<a href="#">评价</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>10</td>
					<td>11</td>
					<td>12</td>
					<td>13</td>
					<td>
						<a href="#">修改</a>
						<a href="#">积分记录</a>
						<a href="#">评价</a>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>10</td>
					<td>11</td>
					<td>12</td>
					<td>13</td>
					<td>
						<a href="#">修改</a>
						<a href="#">积分记录</a>
						<a href="#">评价</a>
					</td>
				</tr> -->
			</tbody>
			<tfoot>
				<tr>
					<td colspan="13">
						<nav style="display: inline-block;">
							<ul class="pager">
								<li>
									<a href="javascript:void(0)" id="home" @click="goToIndex()">首页</a>
								</li>
								<li>
									<a href="javascript:void(0)" id="Previous" @click="goToPre()">上一页</a>
								</li>
								<li>
									<a href="javascript:void(0)" id="Next" @click="goToNext()">下一页</a>
								</li>
								<li>
									<a href="javascript:void(0)" id="last" @click="goToEnd()">尾页</a>
								</li>
							</ul>
						</nav>
						第<span>{{user.pageNum}}</span>页&nbsp;/共<label>{{user.pages}}</label>页
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
		
	</body>
	<script src="../../js/jquery-1.12.4.js" type="text/javascript"></script>
	<script src="../../js/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script>
		$(function() {
			
			replyVm = new Vue({
				el: "#audit",
				data: {
					user: {}
				},
				methods: {
					goToPage: function() {
						var userName= $("#userName").val();
						if(userName==""){
							userName=0;
						}
						$.ajax({
							url: "/yl/getList/"+userName,
							type: "post",
							//data:userName,
							dataType: "json",
							//contentType: "application/json;charset=utf-8",
							success: function(pageData) {
								replyVm.user = pageData;
							},
							error: function() {
								alert("错误2");
							}
						});
					},
					exports:function() {
						$.ajax({
							url: "/yl/Excel",
							type: "get",
							dataType: "json",
							success: function(map) {
								//replyVm.user = pageData;
								if(map.code==200){
									alert("导出成功");	
								}
							},
							error: function() {
								alert("错误3");
							}
						});
					},
				},
				created: function() {
					this.goToPage();
					
				}
			});
		});
	</script>
</html>