<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>会员审核</title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/MemberCss.css"/>
	</head>
	<body>
		<div id="audit">
		<div class="title">
			<h3>会员管理</h3>
			<div class="formdiv">
				<form class="form-inline" id="search_form">
					<div class="form-group">
						<label for="exampleInputName2">用户昵称</label>
						<input type="text" class="form-control" id="userName" placeholder="请输入会员昵称">
					</div>
					<button type="button" class="btn btn-default" @click="goToPage(1,2)">搜索</button>
					<button type="button" class="btn btn-default" @click="exports()">导出</button>
				</form>
			</div>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>序号</th>
					<th>用户昵称</th>
					<th>会员组</th>
					<th>邮箱</th>
					<th>积分</th>
					<th>金币</th>
					<th>邮箱验证</th>
					<th>审核</th>
					<th>状态</th>
					<th>电话</th>
					<th>最后登录时间</th>
					<th>浏览量</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(tmp,index) in pageInfo.list">
					<td>{{index+1}}</td>
					<td>{{tmp.username}}</td>
					<td>
					<span v-if="tmp.merchanttype==0">普通会员</span>
					</td>
					<td>{{tmp.contactmailbox}}</td>
					<td>{{tmp.userintegral}}</td>
					<td>{{tmp.usermoney}}</td>
					<td>
						<span v-if="tmp.mailboxVerification==0">未验证</span>
						<span v-else-if="tmp.mailboxVerification==1">已验证</span>
					</td>
					<td>
						<span v-if="tmp.auditStatus==1">审核中</span>
						<span v-else-if="tmp.auditStatus==2">通过</span>
						<span v-else>拒绝</span>
					</td>
					<td>
						<span v-if="tmp.stateboolean==true">开启</span>
						<span v-else-if="tmp.stateboolean==false">禁用</span>
					</td>
					<td>{{tmp.userphone}}</td>
					<td>{{tmp.recententry}}</td>
					<td>{{tmp.browsenumber}}</td>
					<td>
						<a href="javascript:void(0)" @click="jump(tmp.userid)">修改</a>
						<a href="#">积分记录</a>
						<a href="#">评价</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="13">
						<nav style="display: inline-block;">
							<ul class="pager">
								<li>
									<a href="javascript:void(0)" id="home" @click="goToIndex()">首页</a>
								</li>
								<li>
									<a href="javascript:void(0)" id="Previous" @click="goToPre()">上一页</a>
								</li>
								<li>
									<a href="javascript:void(0)" id="Next" @click="goToNext()">下一页</a>
								</li>
								<li>
									<a href="javascript:void(0)" id="last" @click="goToEnd()">尾页</a>
								</li>
							</ul>
						</nav>
						第<span>{{pageInfo.pageNum}}</span>页&nbsp;/共<label>{{pageInfo.pages}}</label>页
					</td>
				</tr>
			</tfoot>
		</table>
		<!-- <img alt="" src="/file/2019-02-26/f4e50416b42449608677161c72c9e8be.png"> -->
	</div>
		
	</body>
	<script src="../../js/jquery-1.12.4.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script>
		$(function() {
			
			layui.config({
				base : "js/"
			}).use(['form','layer','jquery','laypage','upload', 'laydate'],function(){
			
			replyVm = new Vue({
				el: "#audit",
				data: {
					pageInfo: {}
				},
				methods: {
					goToPage: function(p,s) {
						var userName= $("#userName").val();
						if(userName==""){
							userName=0;
						}
						$.ajax({
							url: "/yl/getList/"+userName+"/"+p+"/"+s,
							type: "post",
							dataType: "json",
							success: function(pageData) {
								replyVm.pageInfo = pageData;
								//alert(JSON.stringify(pageData));
							},
							error: function() {
								alert("错误2");
							}
						});
					},
					goToIndex : function() {
						this.goToPage(this.pageInfo.firstPage,2);
					},
					goToNext : function() {
						if (this.pageInfo.hasNextPage) {
							this.goToPage(this.pageInfo.nextPage,2);
						} else {
							layer.alert('没有下一页了。。。', {icon: 2});
						}
					},
					goToPre : function() {
						if (this.pageInfo.hasPreviousPage) {
							this.goToPage(this.pageInfo.prePage,2);
						} else {
							layer.alert('没有上一页了。。。', {icon: 2});
						}
					},
					goToEnd : function() {
						this.goToPage(this.pageInfo.lastPage,2);
					},
					exports:function() {
						 $.ajax({
							url: "/yl/Excel",
							type: "get",
							dataType: "json",
							success: function(map) {
								if(map.code==200){
									alert("导出成功");	
								}
							},
							error: function() {
								alert("错误3");
							}
						}); 
						/* alert("开始");
						window.open("/yl/Excel"); */
					},
					jump:function (userId){
						var userId = window.sessionStorage.setItem("userId",userId);
						location.href="subpage/MemberModify.html";
					},
				},
				created: function() {
					this.goToPage(1,2);
					
				}
			});
			});
		});
		
	</script>
</html>