<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商家入驻</title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/MemberCss.css"/>
	</head>

	<body>
		<div id="enterMe">
			<div class="title">
			<h3>商家入驻</h3>
			<div class="formdiv">
				<form class="form-inline">
					<div class="form-group">
						<label for="exampleInputName2">用户昵称</label>
						<input type="text" class="form-control" id="userName" placeholder="请输入会员昵称">
					</div>
					<div class="form-group">
						<label for="exampleInputName2">会员组</label>
						<select class="form-control" id="merchantType">
						  <option value="0">所有</option>
						  <option value="1">大陆商家用户</option>
						  <option value="2">海外商家用户</option>
						</select>
					</div>
					<div class="form-group">
						<label for="exampleInputName2">审核状态</label>
						<select class="form-control" id="auditStatus">
						  <option value="0">所有</option>
						  <option value="1">审核中</option>
						  <option value="2">成功</option>
						  <option value="3">未通过</option>
						</select>
					</div>
					<button type="button" class="btn btn-default" @click="goToPage(1,2)">搜索</button>
				</form>
			</div>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>序号</th>
					<th>用户昵称</th>
					<th>商铺名称</th>
					<th>邮箱</th>
					<th>真实姓名</th>
					<th>QQ</th>
					<th>微信</th>
					<th>身份证</th>
					<th>申请类别</th>
					<th>所在城市</th>
					<th>状态</th>
					<th>申请时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(tmp,index) in user.list">
					<td>{{index+1}}</td>
					<td>{{tmp.userName}}</td>
					<td>{{tmp.shopName}}</td>
					<td>{{tmp.merchantEmail}}</td>
					<td>{{tmp.userRealName}}</td>
					<td>{{tmp.qq}}</td>
					<td>{{tmp.weChat}}</td>
					<td>{{tmp.identityNumder}}</td>
					<td>
						<span v-if="tmp.merchantType==1">大陆商家用户</span>
						<span v-else-if="tmp.merchantType==2">海外商家用户</span>
					</td>
					<td>{{tmp.livecityName}}</td>
					<td>
						<span v-if="tmp.auditStatus==1">审核中</span>
						<span v-else-if="tmp.auditStatus==2">通过</span>
						<span v-else>未通过</span>
					</td>
					<td>{{tmp.merchantRegistrationTime}}</td>
					<td>
						<a href="javascript:void(0)" @click="jump(tmp.userID)">查看</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="15">
						<nav style="display: inline-block;">
							<ul class="pager">
								<li>
									<a href="javascript:void(0)" id="home" @click="goToIndex()">首页</a>
								</li>
								<li>
									<a href="javascript:void(0)" id="Previous" @click="goToPre()">上一页</a>
								</li>
								<li>
									<a href="javascript:void(0)" id="Next" @click="goToNext()">下一页</a>
								</li>
								<li>
									<a href="javascript:void(0)" id="last" @click="goToEnd()">尾页</a>
								</li>
							</ul>
						</nav>
						第<span>{{user.pageNum}}</span>页&nbsp;/共<label>{{user.pages}}</label>页
					</td>
				</tr>
			</tfoot>
		</table>
		</div>
	</body>
	<script src="../../js/jquery-1.12.4.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script>
		$(function() {
			layui.config({
				base : "js/"
			}).use(['form','layer','jquery','laypage','upload', 'laydate'],function(){
			//var userId = window.sessionStorage.getItem("userId");
			enterMe = new Vue({
				el: "#enterMe",
				data: {
					user: {}
				},
				methods: {
					goToPage: function(p,s) {
						var userName= $("#userName").val();
						var merchantType= $("#merchantType").val();		//会员组
						var auditStatus= $("#auditStatus").val();		//审核状态
						if(userName==""){
							userName=0;
						}
						$.ajax({
							url: "/yl/getEnterList/"+userName+"/"+merchantType+"/"+auditStatus+"/"+p+"/"+s,
							type: "post",
							dataType: "json",
							success: function(pageData) {
								enterMe.user = pageData;
								//alert(JSON.stringify(pageData.list));
							},
							error: function() {
								alert("商家入驻");
							}
						});
					},
					goToIndex : function() {
						this.goToPage(this.user.firstPage,2);
					},
					goToNext : function() {
						if (this.user.hasNextPage) {
							this.goToPage(this.user.nextPage,2);
						} else {
							layer.alert('没有下一页了。。。', {icon: 2});
						}
					},
					goToPre : function() {
						if (this.user.hasPreviousPage) {
							this.goToPage(this.user.prePage,2);
						} else {
							layer.alert('没有上一页了。。。', {icon: 2});
						}
					},
					goToEnd : function() {
						this.goToPage(this.user.lastPage,2);
					},
					jump:function (enterId){
						window.sessionStorage.setItem("enterId",enterId);
						location.href="subpage/enderDatails.html";
					},
				},
				created: function() {
					this.goToPage(1,2);
					
				}
			});
			});
		});
	</script>
</html>